:root{
    --primary-color: #0F9D58;
    --background-color: #F8F9FA;
    --second-color: #F1F3F4;
    --grey: #7a7a7b;
    --white: #ffffff;
}

/* Phones, 600px and down */
@media only screen and (max-width: 600px) {
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        width: 100%;
    }

    .slogan h1 {
        font-size: 4rem;
    }

    .slogan button {
        padding: 1rem 3rem;
    }

    .about-slogan {
        padding: 2rem;
    }

    .inicio-menu {
        padding: 2rem;
    }

    .tema-category button {
        padding: 0.5rem 1.5rem;
        margin: 0 0.5rem;
    }

    .tema-item {
        width: 100%;
    }

    .review-wrap {
        width: 100%;
    }

    .footer {
        padding: 2rem;
    }

    .input-group {
        flex-direction: column;
        align-items: center;
    }

    .input-group input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .back-to-top {
        bottom: 20px;
        right: 20px;
    }
}



*{
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: unset;
    text-decoration: none;
}

body,html{
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.inicio{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    margin-left: 1rem;
    padding: .5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menu-item:hover, .menu-item.active{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.cart-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.cart-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
}

.fullheight{
    height: 100vh;
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed{
    background-attachment: fixed;
}

.container{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

section{
    padding: 9rem 0;
}

.slogan{
        text-align: left;
        max-width: 600px; /* Establece el ancho máximo deseado para el contenedor de texto */
        margin: 0 auto; /* Centra el contenedor en la página si es necesario */
}

.slogan h1{
    font-size: 7rem;
    color: var(--primary-color);
}

.slogan button{
    padding: 1rem 5rem;
    outline: none;
    border: none;
    background-color: var(--background-color);
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 3rem 0;
    cursor: pointer;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.slogan button:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.fullwidth{
    width: 100%;
}

.midwidth{
    width: 50%;
}

#about img{
    border-radius: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.about-slogan{
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.about-slogan h3{
    font-size: 2rem;
    margin-bottom: 3rem; 
    color: var(--grey);
}

.primary-color{
    color: var(--primary-color);
}

.inicio-menu{
    padding: 4rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inicio-menu h1{
    color: var(--grey);
}

.inicio-menu p{
    margin: 2rem 0;
}

.tema-category{
    display: flex;
}

.tema-category button{
    padding: .5rem 2.5rem;
    margin: 0 1rem;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 1rem;
    cursor: pointer;
    transition: .3s ease-in-out;
}


.tema-category button:hover, .tema-category button.active{
    background-color: var(--primary-color);
    color: var(--white);
}

.tema-item-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 3rem;
}

.tema-item{
    width: 25%;
    height: 30rem;
    padding: 1rem;
}

.item-section{
    height: 100%;
    transition: .4s ease-in-out;
    cursor: pointer;
    border-radius: 2rem;
}

.item-section:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.item-img{
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}

.img-holder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
    border-radius: 2rem;
}

.img-holder:hover{
    transform: scale(1.5);
}

.item-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 1rem;
}

.item-info h3{
    color: var(--grey);
}

.item-info>div:first-child{
    text-align: left;
}

.review-wrap{
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

.review-wrap.active{
    transform: scale(1.2)!important;
}

.review-content{
    padding: 3rem;
    border-bottom: .125rem solid var(--gray);
    position: relative;
    text-align: center;
}

.review-img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -2.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-info{
    padding: 3rem;
    text-align: center;
}

.rating{
    margin-top: 2rem;
}

.rating i{
    color: var(--primary-color);
}

.footer{
    color: var(--white);
}

.footer h1{
    color: var(--primary-color);
}

.input-group{
    padding: 1rem;
    border: .125rem solid var(--primary-color);
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.input-group input{
    flex: auto;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
}

.input-group button{
    padding: .5rem 1rem;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.back-to-top{
    position: fixed;
    bottom: 70px;
    right: 70px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: .5rem;
    z-index: 99;
    display: none;
}



.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 1rem;
}

/* GRID SYSTEM */

/*Phones, 600px and down*/

@media only screen and (max-width: 600px) {
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33%;
    }

    .col-xs-5 {
        width: 41.66%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33%;
    }

    .col-xs-8 {
        width: 66.66%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33%;
    }

    .col-xs-11 {
        width: 91.66%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .h-xs{
        display: none;
    }
}

